<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Food Order System</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div id="header">
    Food Order System
</div>
<div>
    <a href="/restaurant/restaurantLogin"  class="buttons">Login in as restaurant</a>
    <a href="/client/clientLogin"  class="buttons">Login as client</a>
    <a href="/restaurant/createRestaurant"  class="buttons">Create new restaurant account</a>
    <a href="/client/createClient"  class="buttons">Create new client account</a>
</div>
</body>
</html>
